html {
box-sizing:border-box;
}
*, *:before, *:after {
box-sizing:inherit;
}

body {
	background:pink;
	font-family:Arial;
	font-size:45px;
}

#clock {
	width:100%;
	margin-top:300px;

}

p {
	width:100%;
	margin-left:50%
	margin-right:50%;
	position:relative;
	margin-top:0px;
}